.background{
    background-image: url("../../../assets/wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.signup-form {
    max-width: 360px;
    margin: 30px auto auto auto;
    padding: 40px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
    background: #fff;
}
.signup-form p{
    margin-top: 10px;
    text-align: center;
    color: var(--text-color);
    font-size: 1rem;
}

.signup-form .photo{
    display: flex;
    justify-content: center;
}
.signup-form .photo img{
    width: 90px;
    height: 51px;
}
.signup-form label img{
    width: 48px;
    height: 48px;
}

.signup-form button{
    width: 100%;
}

.login a {
    color: var(--primary-color);
    text-decoration: none;
    margin-left: 10px;
}

.login{
    max-width: 360px;
    margin: 10px auto;
    padding: 40px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
    background: #fff;
}

.signup-form .thumbnail{
    background: #fff;
    padding: 8px 100px;
    border-radius: 4px;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1em;
    border: 1px solid var(--primary-color);
}

.signup-form .thumbnail:hover {
    color: #fff;
    background-color: var(--primary-color);
}
