.posts-filter {
    display: flex;
    justify-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

.posts-filter nav {
    display: flex;
    border-radius: 4px;
    background-color: var(--bg-color);
}

.posts-filter p {
    font-size: 0.9em;
    text-align: center;
}

.posts-filter button {
    border: 0;
    background-color: var(--bg-color);
    margin-left: 25px;
    font-family: inherit;
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
}

@media (max-width:600px) {
    .posts-filter button {
        margin-left: 15px;
    }
}

