.posts-filter {
    margin: 30px auto;
    grid-column: 2/3;
    position: sticky;
}

.posts-filter nav {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    flex-direction: column;
    position: fixed; 
    left: 10%;
}

.posts-filter p {
    font-size: 0.9em;
    text-align: center;
}

.posts-filter button {
    background: transparent;
    border: 0;
    font-family: inherit;
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
}

.posts-filter button:last-child {
    border: 0;
}


@media (max-width:900px) {

    .posts-filter nav {
        flex-direction: row;
        width: 650px;
        padding: 10px 0px;
        position: relative;
        left: 0;
        z-index: 3;
    }
    
    .posts-filter p {
        margin-left: 10px;
    }
    .posts-filter button {
        border-right: 1px solid #e4e4e4;
    }
}
@media (max-width:650px) {
    .posts-filter nav {
        width: 340px;
    }
}

