.postname{
    display: grid;
    grid-template-columns: 45px auto;
    height: 60px;
    padding-left: 30px;
    align-items: center;
}
.postname .photo{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.postname h3{
    font-weight: 400;
}
.postname .image{
    display: none;
}
@media (max-width:450px) {
    .postname{
        grid-template-columns: 45px 45px auto;
    }
    .postname .photo{
        padding-bottom: 10px;
    }
    .postname .image{
        display: block;
        width: 25px;
        height: 25px;
    }
    .postname .image img{
        width: 100%
    }
}