.circle{
    height: 8px;
    width: 8px;
    background-color: gainsboro;
    border-radius: 4px;
    margin-left: 5px;
}

.chosecircle{
    height: 8px;
    width: 8px;
    background-color: rgba(var(--d69,0,149,246),1);
    border-radius: 4px;
    margin-left: 5px;
}