.navbar {
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    border-bottom: solid gainsboro;
    position: sticky;
    top: 0;
    z-index: 2;
}
.navbar ul {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
}
.navbar li{
    margin: 0px 5px;
    padding-top: 5px;
}
.navbar .logo {
    cursor: pointer;
    margin-left: 20px;
}
.navbar #logo {
    width: 45px;
    height: 25px;
}

.navbar img{
    cursor: pointer;
}

.navbar .photo {
    width: 35px;
    height: 35px;
}
.navbar .circle{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: 18px;
    margin-left: 18px;
    border-radius: 10px;
    background-color:var(--primary-color);
    text-align: center;
    font-size: 0.8rem;
}
.navbar .profile {
    display: inline;
    width: 35px;
    height: 35px;
    padding-bottom: 10px;
}
.navbar .form{
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
.navbar .friend{
    display: flex;
    padding-bottom: 8px;
}
@media (max-width:700px) {
    .navbar .form .SearchData{
        display: none;
    }
}


