.navbar {
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    border-bottom: solid gainsboro;
}
.navbar ul {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
}
.navbar li{
    margin: 0px 5px;
    padding-top: 5px;
}
.navbar .logo {
    cursor: pointer;
}
.navbar #logo {
    height: 50px;
    width: 160px;
    cursor: pointer;
}

.navbar img{
    cursor: pointer;
}

.navbar .photo {
    width: 35px;
    height: 35px;
}

.navbar .profile {
    display: inline;
    width: 35px;
    height: 35px;
    padding-bottom: 10px;
}
.navbar .form{
    margin: 0px 150px;
}

.navbar form{
    display: flex;
    margin-right: 50px;
    font-size: 0.8rem;
    width:300px;
    justify-content: flex-end;
    margin-left: 50px;
}

.navbar form img{
    position: absolute;
    width: 20px;
    height: 20px;
    padding-top: 6px;
    padding-right: 10px;
    cursor: pointer;
    z-index: 3;
}

.navbar form button{
    position: absolute;
    width: 40px;
    height: 33px;
    background-color: transparent;
    border: none;
}

