.posts{
    background-color: rgba(0,0,0,.85);
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    flex-direction: column;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    display: flex;
}
.posts .close{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}

.posts .close button{
    align-items: center;
    background: 0 0;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 8px;
}

.posts .close .closeIcon{
    align-items: center;
    justify-content: center;
}

.posts .close .closeIcon img{
    filter: invert(1);
}

.posts .create-form{
    flex-shrink: 1;
    justify-content: center;
    display: flex;
}

.posts .create-form .form{
    background-color: rgba(var(--f23,255,255,255),1);
    border-radius: 12px;
    display: grid;
    min-height: 391px;
    grid-template-rows: 30px auto;
    overflow: hidden;
}

.posts .create-form .title{
    flex-grow: 1;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 24px;
    text-align: center;
    border-bottom: solid gainsboro 1px;
}

.create-form .form form{
    display: flex;
    flex-direction: column;
    width: 527px;
}
.form form .uploadphoto{
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;
}
.form form .uploadphoto img{
    width: 20px;
    height: 20px;
    position: relative;
    padding-left: 40px;
}
.form form .uploadphoto span{
    padding-top: 6px;
}

.form form label img{
    width: 165px;
    height: 170px;
}

.form form label button{
    border: 1px solid var(--primary-color);
    width: auto;
    position: relative;
}

.form form label {
    margin: 12px 0px;
    display: flex;
    justify-content: center;
}
.form form .selected{
    margin-top: 10px;
}