.dataResult{
    background: rgba(var(--d87,255,255,255),1);
    border-radius: 6px;
    box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0),.0975);
    position: absolute;
    z-index: 3;
    display: flex;
    margin-top: 10px;
}
.dataResult .triangle {
    top: -6px;
    background: rgba(var(--d87,255,255,255),1);
    border: 1px solid rgba(var(--f23,255,255,255),1);
    margin-left: 115px;
    box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0),.0975);
    height: 14px;
    position: absolute;
    transform: rotate(45deg);
    width: 14px
}

.dataResult .square {
    background: rgba(var(--d87,255,255,255),1);
    border-radius: 6px;
    position: relative;
    padding-top: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
}
.dataResult .square .rightId{
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 60px;
}
.dataResult .square .rightId .photo{
    width: 45px;
    height: 45px;
    margin-left: 10px;
}
.dataResult .square .rightId p{
    margin-left: 10px;
}
.dataResult .square .rightId .photo img{
    margin-bottom: 10px;
}
.searchInput{
    display: flex;
    margin: 0px;
    font-size: 0.8rem;
    width:300px;
    justify-content: flex-end;
}
.searchInput input:focus{
    background: gainsboro;
}
.searchInput img{
    position: absolute;
    width: 20px;
    height: 20px;
    padding-top: 6px;
    padding-right: 10px;
    cursor: pointer;
    z-index: 3;
}

@media (max-width:700px) {
    .searchbar{
        display: none;
    }
}