.post-container{
    background-color: white;
    display: grid;
    grid-template-rows: 70px 765px 30px auto 40px;
    
}

.post-container .title{
    display: flex;
}

.post-container .title header{
    display: flex;
    padding: 14px 4px 14px 16px;
    width: 550px;
}

.post-container .title .user{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

.post-container .option{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.post-container .option img{
    width: 24px;
    height: 24px;
    cursor: pointer;
    transform: rotate(90deg)
}
.post-container .option .try{
    position: absolute;
    margin-top: 80px;
    z-index: 3;
    background: rgba(var(--d87,255,255,255),1);
    width: 100px;
    height: 50px;
    border-radius: 6px;
}

.photo-container{
    max-width: 100%;
    display: flex;
    align-items: center;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    justify-content: center;
}

.photo-container img{
    max-width: 100%;
}

.photo-container .legtarrow{
    z-index: 3;
    position: absolute;
    top: 320px;
    left:0px;
    width:20px;
    height: 20px;
}

.photo-container .rightarrow{
    z-index: 3;
    position: absolute;
    top: 320px;
    left: 630px;
    width:20px;
    height: 20px;
}

.content-container{
    display: flex;
    align-items: center;
}

.content-container .heart{
    width:60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container .heart img{
    width: 23px;
    height: 23px;
}

.content-container .circle{
    width:530px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-container{
    display: grid;
    grid-template-rows: 55px auto 20px;
    align-items: center;
    border-bottom: solid gainsboro 0.5px;
}

.comment-container .details{
    display: flex;
    font-size: 1rem;
    padding-left: 16px;
}

.comment-container .details h4{
    margin-right: 10px;
}

.comment-container .details span{
    margin-right: 50px;
}

.comment-container .caption{
    display: flex;
    font-size: 0.8rem;
    padding-left: 16px;
    font-weight: bold;
    margin-bottom: 3px;
}

.comment-container .caption p{
    font-size: 0.8rem;
    padding-left: 0px;
    font-weight: normal;
    padding-left: 3px;
    line-height: 1.9;
}

.comment-container .caption span{
    cursor: pointer;
}

.add-comment{
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-comment form {
    display: flex;
    height: 30px;
    align-items: center;
    padding-left: 16px;
    border: 0px;
    font-size: 0.8rem;
}

.add-comment form input{
    border: none ;
    padding: 0px 0px 5px 10px;
}

.add-comment form input:focus{
    outline:none;
}

.add-comment form button{
    height: 20px;
    width: 100px;
    padding: 0px;
    margin-bottom: 8px;
    margin-right: 10px;
    line-height: 1.6;
}

.add-comment form img {
    margin-top: 0px;
    height: 30px;
    width: 30px;
}