.friendlist-container{
    display: grid;
    grid-template-columns: auto minmax(340px,1100px) auto;
}
.friendlist-container .friendlist{
    margin-top: 10px;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}
.friendlist-container .friendlist h4{
    font-weight: 500;
}
.friendlist-container .friendlist span{
    font-weight: 300;
}
.friendlist-container .friendlist .following{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.friendlist-container .friendlist .followers{
    display: flex;
    flex-direction: column;
}
.friendlist-container .switchfriendlist{
    display: none;
}
@media (max-width:700px) {
    .friendlist-container .friendlist{
        display: none;
    }
    .friendlist-container .switchfriendlist{
        display: grid;
        grid-column: 2/3;
        grid-template-rows: 40px auto;
        gap:20px
    }
    .friendlist-container .switchfriendlist .switchbutton{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .friendlist-container .switchfriendlist .switchbutton button{
        margin-left: 10px;
        margin-top: 10px;
        border:0px;
        background-color: var(--bg-color);
        color: var(--text-color);
    }
    .friendlist-container .switchfriendlist .following{
        display: flex;
        justify-self: center;
        flex-direction: column;
    }
}

